* {
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: "sen";
    margin: 0;
}

.nav-container{
    background: #D9D9D9;
    box-shadow: 0px 4px 108px rgba(0, 0, 0, 0.71);
height: 64px;
}


nav ul {
    display: flex;
   align-items: center;
    justify-content:center;
    padding-left: 1000px;
    list-style: none;
}
nav ul li {
    display: flex;
    align-content: space-between;
    padding: 24px;
}

#skill-section{
    display: flex;
    align-content: center;
}