* {
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: "sen";
    margin: 0;
}

nav{
    text-align: right;
    background-color: gray;

}

nav ul {
    margin: 0 0 0 0;
    display: inline-block;
    list-style: none;
}
nav li {
    display: inline-block;
    align-content: space-between;
    padding: 24px;
    padding-top: 6px;
    font-weight: 100;
}
nav li a {

}

.hero-content {
    display: flex;
    align-content: flex-start;
    padding-top: 64px;
}

.hero-content h1 {
    align-content: center;
    justify-content: space-around;
    padding-top: 60px;
    padding-left: 2px;
    padding-right: 100px;
}

.hero-content p {
    align-content: center;
    padding-top: 320px;
    padding-right: 100px;
}

.wrap{
    float: left;
}
.wrap1{
    display: flexbox;
}
.good{
    margin-top: 0rem;
    font-weight: bold;
    font-size: 4rem;
    margin-left: 3rem;
    display: inline-flex;
}
.good2{
    margin-top: 17rem;
    display: inline-flex;

}
